@import '../../styles/all';

.page-header {
    font-family: $primary-font;
    width: 100%;

    @media screen and (max-width: 1250px) {
        padding: 0 2rem;
    }
    @media screen and (max-width: $mobile) {
        padding: 0 1rem;
    }

    .page-header-inner {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;

        .header-image {
            width: 100%;
            aspect-ratio: 9/4;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .page-header-title {
            font-size: 50px;

            @media screen and (max-width: $mobile-portrait) {
                font-size: 30px;
            }
        }

        .page-header-description {
            color: $gray;
            font-weight: normal;
        }
    }
}