@import '../../styles/all';

.page-header {
    font-family: $primary-font;
    width: 100%;
    font-family: $primary-font;

    @media screen and (max-width: 1250px) {
        padding: 0 2rem;
    }
    @media screen and (max-width: $mobile) {
        padding: 0 1rem;
    }

    .page-header-inner {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;

        .page-header-title {
            font-size: 50px;

            @media screen and (max-width: $mobile-portrait) {
                font-size: 30px;
            }
        }

        .page-header-description {
            color: $gray;
        }
    }
}